.home-container {
    .tag-background-sidelong {
        padding: 4px 18px;
        background: linear-gradient(275.54deg, #6947BB 0%, #2B2186 53.72%, #C770E6 100%);
        transform: skew(20deg);
    }
}