.header-container {
    .button-connect-wallet {
        background: linear-gradient(90.84deg, #FE2900 -3.26%, #FFA500 105.1%);
        border-radius: 14px
    }
    
    .background-footer-button {
        background: linear-gradient(0deg, #C54722 5.56%, rgba(216, 79, 20, 0) 36.11%);
        width: 174px;
        height: 36px;
        border-radius: 13px;
        left: 1px;
    }

    .border-bottom-tag-page {
        border-bottom: 1px solid rgb(65, 57, 134,.5);
    }

    .border-bottom-tag-page-actived {
        border-bottom: 2px solid #413986;
    }
}