.font-goldmanBold {
  font-family: MartelSans;
}

.font-inter {
  font-family: Inter;
}

.background-header {
  background-image: url("assets/img/background/header.png");
  position: absolute;
  width: 1448px;
  height: 773px;
  top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-body {
  background-image: url("assets/img/background/body.png");
  position: absolute;
  width: 1448px;
  height: 100vh;
  top: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-footer {
  background-image: url("assets/img/background/footer.png");
  position: absolute;
  width: 1448px;
  height: 773px;
  bottom: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
