.footer-container {
    .input-email:focus {
        border: none;
        box-shadow: none;
        outline: none
    }

    .input-email {
        border: 1px solid rgba(129, 75, 246, 0.2);
        background-color: transparent;
    }

    .input-email::placeholder {
        font-size: 16px;
        color: #938CA7;
    }

    .title-footer {
        color: #F8ECB6;
    }

    .title-footer-tablet {
        color: #F2AE19
    }

    .link-footer-mobile {
        color: #E8EDF2
    }
}